/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  font-family: "poppins", sans-serif !important;
}

a {
  text-decoration: none !important;
}

.bg-gray {
  background: #F7F7F7;
}

.button {
  font-size: 16px;
  line-height: 25px;
  padding: 13px 23px 12px;
  background: #F2A82B;
  color: #fff;
  border-radius: 6px;
  border: 1px solid #F2A82B;
  display: inline-block;
  transition: all 0.3s ease;
}

.button:hover {
  background: transparent;
  color: #F2A82B;
}

.button:hover .cart-icon {
  fill: #F2A82B;
}

.btn-primary,
.btn-secondary {
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #000;
  border: 1px solid #000;
}

.btn-primary:hover {
  background: transparent;
  color: #000;
}

.btn-secondary {
  background-color: #F2A82B;
  border: 1px solid #F2A82B;
}

.btn-secondary:hover {
  color: #000;
  background-color: transparent;
}

.btn-secondary:hover svg path {
  fill: #000;
}

.btn-tertiary {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
}

.btn-tertiary:hover {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}

.cart-icon {
  fill: #fff;
  transition: all 0.3s ease;
}

.pt-60 {
  padding-top: 60px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.mt-144 {
  margin-top: 144px;
}

.pb-40 {
  padding-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poppins", sans-serif;
}

.h2 {
  font-size: 36px !important;
  line-height: 55px !important;
  margin-bottom: 0 !important;
}


h2 b {
  color: #F2A82B;
}

h3 {
  font-size: 16px !important;
  line-height: 25px !important;
}

h6 {
  font-size: 12px !important;
  line-height: 18px !important;
}

p {
  font-size: 16px;
  line-height: 22px;
}

select:focus {
  box-shadow: none !important;
  border-radius: 4px !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

@media screen and (max-width: 991px) {

  .button {
    padding: 10px 15px 10px;
  }

}

@media screen and (max-width: 767px) {

  .h2 {
    font-size: 22px !important;
    line-height: 35px !important;
  }

}

/*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
.page-width {
  padding: 0 5rem;
  max-width: 1440px;
  margin: auto;
}

@media screen and (max-width: 1025px) {
  .page-width {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .page-width {
    padding: 0 1rem;
  }
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

.nav-top {
  height: 62px;
}

.nav-top .dropdown-menu.show,
.navbar-nav .dropdown-menu.show {
  transform: translate(-39px, 46px) !important;
  padding: 0;
  border-radius: 0;
}

.nav-top .dropdown-menu.show .dropdown-item,
.navbar-nav .dropdown-menu.show .dropdown-item {
  padding: 10px 15px;
}

.nav-top-right {
  padding-right: 22px;
}

.nav-top-left .nav-top-text,
.nav-top-right .nav-top-text {
  font-size: 14px;
  line-height: 21px;
}

.nav-top-right .text-black-change {
  color: #F2A82B !important;
  font-weight: 500;
}

.nav-top-right .text-black-change:hover {
  color: #F2A82B;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
}

.dropdown-toggle::before {
  content: " " !important;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 1 !important;
  background-size: contain;
  display: block;
  background-repeat: no-repeat;
  background-image: url(../images/down-chevron.png);
  max-width: 12px;
  right: -18px;
  top: 9px;
}

.nav-bg {
  background: url(../images/nav-bg.png) top center no-repeat;
  background-size: cover;
  text-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.navbar .navbar-brand {
  max-width: 180px;
  margin-right: 50px !important;
}

.navbar .navbar-nav {
  gap: 15px;
}

.navbar .nav-link {
  transition: all 0.5s ease !important;
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 25px;
}

.navbar .nav-link:hover {
  color: #F2A82B !important;
}

.navbar .nav-link.active {
  color: #F2A82B !important;
}

.navbar .form-control {
  height: 52px;
  padding: 0 4.5rem 0 1rem !important;
  width: 400px !important;
  border-radius: 26px !important;
  margin-right: -3rem;
  font-size: 14px !important;
}

.navbar .btn-outline-success {
  border: none !important;
  background: #F2A82B !important;
  border-radius: 26px !important;
  width: 60px;
  height: 46px;
  margin-left: -1rem;
}

.navbar input.form-control:focus,
.news-letter input.form-control:focus {
  box-shadow: none;
  border-color: #F2A82B;
  outline: none;
}

.navbar .cart-icon {
  cursor: pointer;
  background-color: #000;
  padding: 1rem;
  height: 50px;
  border-radius: 50%;
  width: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .mobile-view {
  display: none !important;
}

.header-navbar-toggle-button {
  display: none;
  border: none;
  background-color: transparent;
}

.animated-icon2 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon2 span {
  background: #000;
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

@media screen and (max-width: 1025px) {

  .navbar .form-control {
    padding: 0 1.5rem;
  }

  .navbar .form-control {
    padding: 0 4.5rem 0 0.5rem !important;
    width: 280px !important;
    font-size: 12px !important;
  }

  .navbar .navbar-nav {
    gap: 5px;
  }

}

@media screen and (max-width: 991px) {

  .nav-top {
    gap: 5px;
    height: 70px;
  }

  .header-navbar-toggle-button {
    display: block;
  }

  .navbar .mobile-view {
    display: block !important;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .nav-top .dropdown-menu.show,
  .navbar-nav .dropdown-menu.show {
    transform: translate(-40px, 36px) !important;
  }

}

@media screen and (max-width: 767px) {

  .navbar .mobile-view {
    display: block;
  }

  .nav-top .desktop-view {
    display: none !important;
  }

  .nav-top-left {
    display: flex;
    align-items: center;
  }

  .nav-top-left .nav-top-text {
    font-size: 12px;
    line-height: 15px;
  }

  .navbar .navbar-brand {
    max-width: 180px;
    margin-right: 15px !important;
  }

  .nav-top .dropdown-menu.show,
  .navbar-nav .dropdown-menu.show {
    transform: translate(15px, 50px) !important;
  }

  .nav-top-left {
    max-width: 170px;
  }

  .nav-top-left a {
    margin-right: 10px;
  }

  .animated-icon2 {
    margin: 0 0px;
  }

}

/*--------------------------------------------------------------
  # Banner Section
  --------------------------------------------------------------*/

.banner {
  padding: 21px 0 24px;
}

.banner .slick-dots {
  bottom: 10px;
}

.banner .slick-dots li {
  background: #fff;
  border-radius: 50%;
}

.banner .slick-dots li.slick-active button:before {
  opacity: .75;
  color: #F2A82B;
}

.banner .slick-dots li button:before {
  font-size: 6px;
  width: 20px;
  height: 20px;
  color: #F2A82B;
}

@media screen and (max-width: 1024px) {

  .banner .row>* {
    padding-right: calc(var(--bs-gutter-x) * .3) !important;
    padding-left: calc(var(--bs-gutter-x) * .3) !important;
  }

}

@media screen and (max-width: 991px) {

  .banner-img img {
    max-height: 40vh;
    object-fit: cover;
  }

}

@media screen and (max-width: 767px) {

  .banner {
    padding: 10px 0;
  }

}

/*--------------------------------------------------------------
  # Shop Categories Section
  --------------------------------------------------------------*/

.shop-categories-slider {
  padding-bottom: 35px;
}

.shop-categories-slider .slick-slide {
  margin: 0 10px !important;
}

.shop-categories-slider .slick-list {
  margin: 0 -10px !important;
}

.out-line {
  border: 1px solid #F2A82B;
  display: inline-block;
  border-radius: 50%;
  padding: 0.5rem;
}

.shop-categories-card-product {
  max-width: 190px;
  background: #F4F4F4;
  padding: 1rem;
  border-radius: 50%;
}

.shop-categories .slick-slider {
  position: static !important;
}

.shop-categories .slick-arrow {
  top: 0% !important;
}

.shop-categories .slick-prev {
  right: 3.5%;
  left: auto !important;
}

.shop-categories .slick-next {
  right: 0% !important;
}

.shop-categories .slick-prev,
.shop-categories .slick-next,
.maintenance-card-slider-wrapper .slick-prev,
.maintenance-card-slider-wrapper .slick-next,
.banner-img-slider .slick-prev,
.banner-img-slider .slick-next {
  border-radius: 50%;
  background: #F2A82B !important;
  transform: translate(0, -0%) !important;
}

.shop-categories .slick-prev,
.shop-categories .slick-next {
  padding: 6px !important;
  height: 30px !important;
  width: 30px !important;
}

.maintenance-card-slider-wrapper .slick-prev,
.maintenance-card-slider-wrapper .slick-next,
.banner-img-slider .slick-prev,
.banner-img-slider .slick-next {
  padding: 4px !important;
  height: 20px !important;
  width: 20px !important;
}

.shop-categories .slick-prev::before,
.shop-categories .slick-next::before,
.maintenance-card-slider-wrapper .slick-prev::before,
.maintenance-card-slider-wrapper .slick-next::before,
.banner-img-slider .slick-prev::before,
.banner-img-slider .slick-next::before {
  content: " " !important;
  height: 100%;
  width: 100%;
  opacity: 1 !important;
  background-size: contain;
  display: block;
  background-repeat: no-repeat;
}

.shop-categories .slick-prev::before,
.maintenance-card-slider-wrapper .slick-prev::before,
.banner-img-slider .slick-prev::before {
  background-image: url('../images/left-chevron.png');
}

.shop-categories .slick-next::before,
.maintenance-card-slider-wrapper .slick-next::before,
.banner-img-slider .slick-next::before {
  background-image: url('../images/right-chevron.png');
}

.maintenance-card-slider-wrapper .slick-prev,
.banner-img-slider .slick-prev {
  left: 10px;
  z-index: 1;
}

.maintenance-card-slider-wrapper .slick-next,
.banner-img-slider .slick-next {
  right: 10px;
}


@media screen and (max-width: 991px) {

  .shop-categories .slick-prev {
    right: 5.5%;
  }

}

@media screen and (max-width: 767px) {

  .shop-categories .slick-prev {
    right: 11.5%;
  }

  .shop-categories .slick-prev,
  .shop-categories .slick-next {
    height: 25px !important;
    width: 25px !important;
  }

  .shop-categories-slider {
    padding-bottom: 15px;
  }

}



/*--------------------------------------------------------------
  # Manual Standard Section
  --------------------------------------------------------------*/

.manual-standard {
  padding: 40px 0;
}

.manual-standard img {
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.manual-standard-img h2 {
  width: 100%;
  height: 100%;
  font-size: 46px !important;
  line-height: 69px;
  left: 8%;
  max-width: 415px;
}

@media screen and (max-width: 991px) {

  .manual-standard .col-lg-8,
  .manual-standard .col-lg-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .manual-standard-img h2 {
    font-size: 35px !important;
    line-height: 55px;
    left: 6%;
    max-width: 320px;
  }

  .manual-standard .row {
    margin-right: calc(-.9 * var(--bs-gutter-x)) !important;
    margin-left: calc(-.9 * var(--bs-gutter-x)) !important;
  }

}

@media screen and (max-width: 767px) {

  .manual-standard-img h2 {
    font-size: 22px !important;
    line-height: 32px;
    left: 4%;
    max-width: 205px;
  }

  .manual-standard {
    padding: 30px 0;
  }

  .standard-right-image {
    margin-top: 15px;
  }

}

/*--------------------------------------------------------------
  # Product Tab Section
  --------------------------------------------------------------*/

.product-tab-section .tab-content {
  padding: 70px 0 54px;
  background: #FFFBF4;
}

.product-tab-section .nav {
  border: 1px solid #888888;
  border-radius: 4px;
  overflow: hidden;
  max-width: 869px;
  margin-bottom: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.product-tab-section .nav-link {
  font-size: 20px;
  line-height: 30px;
  color: #888888;
  padding: 17px 0px;
  border: none !important;
  width: 100%;
}

.tab-nav-icon {
  fill: #888888;
  margin-right: 5px;
}

.product-tab-section .nav-link:hover {
  color: #888888 !important;
  border: none !important;
}

.product-tab-section .nav-link.active {
  color: #fff !important;
  border: none;
  background: #F2A82B !important;
  border-radius: 0;
}

.product-tab-section .nav-link.active .tab-nav-icon {
  fill: #fff;
}

.product-card,
.product-my-orders-card {
  background: #fff;
  border: 1px solid #E4E3E2;
}

.product-card .product-card-title h3 {
  font-weight: 400 !important;
  color: #000;
}

.product-card .product-card-body {
  padding: 8px 17px 22px 12px;
}

.product-card .deail-box {
  background-color: #0CB900;
  color: #fff;
  padding: 5px 18px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  margin-top: 20px;
}

.product-card .product-card-body .sub-category {
  font-size: 16px;
  line-height: 21px;
  color: #888888;
  margin-bottom: 5px;
}

.product-card .rate-block span,
.product-my-orders-card .price-varient span {
  font-size: 20px;
  font-weight: 600;
  color: #F2A82B;
}

.product-card .rate-block del,
.product-my-orders-card .price-varient del {
  font-size: 14px;
  color: #888888;
}

.product-card .wish-icon {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: #fff;
}

.list-view-block-wrapper .product-card,
.shopping-product-cart.product-card {
  display: flex;
}

.list-view-block-wrapper .product-card .product-img,
.product-all-orders-card-img-block,
.shopping-product-cart .product-img {
  max-width: 260px;
}

.list-view-block-wrapper .product-card-body,
.shopping-product-cart .product-card-body {
  padding: 17px 20px 20px 30px;
  max-width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}

.list-view-block-wrapper .product-card-body .reviews-block,
.shopping-product-cart .product-card-body .reviews-block {
  flex-direction: column-reverse;
  align-items: flex-start !important;
  justify-content: space-around !important;
  height: 100%;
}

.list-view-block-wrapper .product-card-body .rate-block,
.shopping-product-cart .product-card-body .rate-block {
  align-items: center !important;
  flex-direction: row !important;
  gap: 5px;
}

.list-view-block-wrapper .product-button,
.shopping-product-cart .product-button {
  position: absolute;
  right: 25px;
  bottom: 20px;
}

.grid-view .list-view-block-wrapper {
  display: none;
}

.list-view .grid-view-block-wrapper {
  display: none;
}



@media screen and (max-width: 991px) {

  .product-tab-section .nav-link {
    padding: 12px 30px;
  }

  .product-tab-section .nav {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }

  .list-view-block-wrapper .product-card-body .product-button span {
    display: none;
  }

}

@media screen and (max-width: 767px) {

  .product-tab-section .nav {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }

  .product-tab-section .nav-link {
    font-size: 12px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .product-tab-section .tab-content {
    padding: 30px 0 30px;
  }

  .product-card .deail-box {
    padding: 3px 12px;
    font-size: 14px;
    margin-top: 15px;
  }

  .product-card .product-card-body .sub-category {
    font-size: 10px;
    margin-bottom: 0;
  }

}

/*--------------------------------------------------------------
  # Feature Product Section
  --------------------------------------------------------------*/

.feature-product {
  padding: 0 0 40px 0;
  position: relative;
}

.feature-product .mt-40 {
  margin-top: 40px;
}

.feature-product h2 {
  margin-bottom: 24px;
}

.feature-pro-img img {
  background-color: #F4F4F4;
}

@media screen and (max-width: 991px) {

  .feature-product .product-card {
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 767px) {
  .feature-product .mt-40 {
    margin-top: 20px;
  }
}

/*--------------------------------------------------------------
  # Blog Section
  --------------------------------------------------------------*/

.blog-wrapper {
  background: #FFFBF4;
  padding: 50px 0 40px;
}

.blog-card {
  height: 100%;
  border-radius: 13px;
  background: #fff;
  border: 1px solid #E4E3E2;
  overflow: hidden;
}

.blog-card-body {
  padding: 20px 25px 27px 17px;
}

.blog-card-body .templates {
  color: #F2A82B;
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 32px;
  font-family: "Inter", sans-serif !important;
}

.blog-card-body .templates:after {
  content: "";
  display: inline-block;
  height: 20px;
  width: 1px;
  background: #000;
  position: relative;
  left: 10px;
  top: 3px;
}

.blog-card-body .title {
  margin-bottom: 0;
  font-weight: 400 !important;
  line-height: 28px;
  font-size: 20px;
  color: #000;
  font-family: "Inter", sans-serif !important;
}

.blog-card-body date {
  font-size: 20px;
  line-height: 32px;
  font-family: "Inter", sans-serif !important;
}

@media screen and (max-width: 1025px) {

  .blog-card-body {
    padding: 20px 10px 27px 10px;
  }

  .blog-card-body date,
  .blog-card-body .templates {
    font-size: 18px;
  }

}

@media screen and (max-width: 767px) {

  .blog-wrapper {
    padding: 30px 0 20px;
  }

  .blog-card-body date,
  .blog-card-body .templates {
    font-size: 16px;
  }

  .blog-card-body .title {
    line-height: 22px;
    font-size: 16px;
  }

}

/*--------------------------------------------------------------
  # Mobility Landing - Products - List View 
  # Mobility Landing - Products - Grid View
  --------------------------------------------------------------*/

.pt-pb-24 {
  padding: 24px 0;
}

.border-bottom-1 {
  border-bottom: 1px solid #0000002b;
}

.manual-standard-page {
  background: #F7F7F7;
  padding-top: 24px;
  color: #888888;
}

.manual-standard-wheelchair {
  font-size: 36px !important;
  line-height: 55px !important;
}

.manual-standard-page .manual-item {
  font-size: 14px;
  line-height: 21px;
  color: #888888;
}

.manual-standard-page .manual-item.active {
  color: #F2A82B;
}

.manual-standard-page .sidebar {
  max-width: 300px;
  background-color: #fff;
  padding: 20px 10px;
  border: 1px solid #0000002b;
  border-radius: 4px;
}

.manual-standard-page .sidear-wrapper-heading {
  font-size: 16px;
  line-height: 25px;
}

.manual-standard-page .range_container {
  display: flex;
  flex-direction: column;
  margin: 8% auto;
}

.manual-standard-page .sliders_control {
  position: relative;
  min-height: 10px;
}

.manual-standard-page .form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #888888;
}

.manual-standard-page input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 15px;
  height: 15px;
  background-color: #F2A82B;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #F2A82B;
  cursor: pointer;
}

.manual-standard-page input[type="range"]::-webkit-slider-thumb:hover {
  background: #F2A82B;
}

.manual-standard-page input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #888888;
  pointer-events: none;
}

.manual-standard-page #fromSlider {
  height: 0;
  z-index: 1;
}

.manual-standard-page .filter-by-price-form label {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0;
}

.manual-standard-page input[type="number"]::-webkit-inner-spin-button,
.manual-standard-page input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.manual-standard-page .filter-by-price-form input {
  max-width: 100px;
  height: 33px;
  background: #F7F7F7;
  border-radius: 4px;
  border: 1px solid #0000002b;
  padding: 0 6px;
}

.manual-standard-page .filter-by-price-form input,
.manual-standard-page .other-categories ul a,
.manual-standard-page .filter-by-color label,
.order-summary-form input {
  color: #888888;
  font-size: 14px !important;
}

.manual-standard-page .filter-by-price-form input:focus {
  outline: #F2A82B;
}

.manual-standard-page .filter-by-price-form button {
  height: 33px;
  width: 100%;
  color: #fff;
  background-color: #F2A82B;
  border-radius: 4px;
  border: none;
  font-size: 12px;
  line-height: 18px;
}

.manual-standard-page .other-categories {
  border-top: 1px solid #0000002b;
  border-bottom: 1px solid #0000002b;
}

.manual-standard-page .other-categories {
  border-top: 1px solid #0000002b;
}

.manual-standard-page .other-categories ul a {
  transition: all 0.3s ease;
}

.manual-standard-page .other-categories ul a:hover {
  color: #F2A82B;
}

.manual-standard-page .other-categories ul a:hover path {
  fill: #F2A82B;
}

.manual-standard-page input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #F2A82B;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  margin-top: -2px;
}

.manual-standard-page input[type="radio"]:checked {
  background-color: #F2A82B;
}

.manual-standard-page .radio-label {
  gap: 12px;
}

.manual-standard-page .top-roducts-this-week-wrapper-block {
  gap: 10px;
}

.manual-standard-page .top-roducts-this-week-wrapper-block h6 {
  margin-bottom: 0;
  max-width: 190px;
  color: #888888;
}

.manual-standard-page .top-roducts-this-week-wrapper-block span {
  font-size: 10px;
  line-height: 16px;
  color: #F2A82B;
}

.manual-standard-page .list-view-block,
.product-wrapper-right-block .list-view-block {
  padding: 18px 20px;
  background: #fff;
  border: 1px solid #0000002b;
  border-radius: 4px;
}

.manual-standard-page .list-view-block .buttons,
.product-wrapper-right-block .list-view-block .buttons {
  border: 1px solid #0000002b;
  border-radius: 4px;
}

.manual-standard-page .list-view-block button,
.product-wrapper-right-block .list-view-block button {
  background: #F7F7F7;
  border: none;
  padding: 7px 14px;
  transition: all 0.3s ease;
  font-size: 14px;
  line-height: 21px;
}

.manual-standard-page .list-view-block button.active,
.product-wrapper-right-block .list-view-block button.active {
  background-color: #F2A82B;
  color: #fff;
}

.manual-standard-page .list-view-block button.active path,
.product-wrapper-right-block .list-view-block button.active path {
  fill: #fff;
}

.manual-standard-page .list-view-card-result,
.product-wrapper-right-block .list-view-card-result {
  font-size: 14px;
  line-height: 21px;
  color: #707070;
}

.manual-standard-page .list-view-card-result span,
.product-wrapper-right-block .list-view-card-result span {
  color: #000;
}

.manual-standard-page .pagination-bar {
  padding: 40px 0;
  border-bottom: 1px solid #707070;
}

.manual-standard-page .pagination-bar a {
  padding: 7px 10px;
  color: #F2A82B;
  border: 1px solid #F2A82B;
  border-radius: 4px;
  background: #fff;
  font-size: 14px;
  line-height: 21px;
}

.manual-standard-page .pagination-bar a.active {
  background: #F2A82B;
  color: #fff;
}

.product-wrapper-right-block-description {
  margin-top: 40px;
}

.product-wrapper-right-block-description h4 {
  font-size: 24px;
  line-height: 35px;
}

.product-wrapper-right-block-description p {
  font-size: 16px;
  line-height: 21px;
  font-family: "Inter", sans-serif !important;
}

/* Mobility Product Page Media Query */

@media screen and (max-width: 991px) {

  .manual-standard-page .list-view-block,
  .product-wrapper-right-block .list-view-block {
    padding: 12px 10px;
  }

  .manual-standard-page .list-view-block button,
  .product-wrapper-right-block .list-view-block button {
    padding: 8px 8px;
  }

  .product-wrapper-right-block-description p {
    font-size: 14px;
  }

  .list-view-block-wrapper .product-card .product-img,
  .shopping-product-cart.product-card .product-img {
    max-width: 150px;
  }

  .list-view-block-wrapper .product-card-body,
  .shopping-product-cart .product-card-body {
    padding: 5px 10px 5px 10px;
  }

  .list-view-block-wrapper .product-card .button {
    font-size: 12px;
    line-height: 20px;
    padding: 8px 10px;
    border-radius: 50%;
  }

  .list-view-block-wrapper .product-card .button svg {
    max-width: 16px;
  }

  .list-view-block-wrapper .product-button {
    right: 12px;
    bottom: 12px;
  }

  .shopping-product-cart .product-button {
    right: 12px;
    bottom: 12px;
  }

  .list-view-block-wrapper .product-card .wish-icon {
    height: 12px;
    width: 12px;
  }

}

@media screen and (max-width: 767px) {

  .pt-pb-24 {
    padding: 10px 0;
  }

  .manual-standard-wheelchair {
    font-size: 26px !important;
    line-height: 30px !important;
  }

  .manual-standard-page .sidebar {
    max-width: 100%;
  }

  .list-view-block button {
    width: 100%;
  }

  .manual-standard-page .pagination-bar {
    padding: 20px 0;
  }

  .product-wrapper-right-block-description {
    margin-top: 20px;
  }

  .product-wrapper-right-block-description h4 {
    font-size: 18px;
    line-height: 25px;
  }

  .list-view-block-wrapper .product-card .product-img {
    max-width: 100px;
  }

  .list-view-block-wrapper .product-card h3 {
    font-size: 14px !important;
    line-height: 16px !important;
  }

  .list-view-block-wrapper .product-card .rate-block span {
    font-size: 12px;
  }

  .list-view-block-wrapper .product-card .rate-block del {
    font-size: 10px;
  }

  .list-view-block-wrapper .product-card .button span {
    display: none;
  }

  .list-view-block-wrapper .product-card .button {
    padding: 0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .list-view-block-wrapper .product-card .wish-icon {
    height: 0px;
    width: 8px;
  }

  .list-view-block-wrapper .product-button {
    right: 9px;
    bottom: 6px;
  }

  .shopping-product-cart.product-card {
    flex-direction: column;
  }

  .shopping-product-cart.product-card .product-img {
    max-width: 100%;
  }

  .shopping-product-cart.product-card .wish-icon {
    z-index: 1;
  }

  .shopping-product-cart .product-button {
    position: static;
    margin-top: 15px;
  }

  .shopping-product-cart .product-card-body {
    padding: 15px;
  }

}

/*--------------------------------------------------------------
  # Mobility Landing - Products Detail
  --------------------------------------------------------------*/

.main-wrapper {
  padding: 16px 0 60px;
  background-color: #F7F7F7;
}

.product-detail-right {
  max-width: 545px;
  margin-left: 40px;
  padding: 10px 0;
}

.product-detail-right .price-aed span {
  font-size: 28px;
  line-height: 42px;
  color: #F2A82B;
  font-weight: 500;
}

.product-detail-right .price-aed del {
  font-size: 14px;
  line-height: 21px;
  color: #888888;
  margin-top: 15px;
  margin-left: 10px;
}

.product-detail-right .power-wheelchair h4 {
  font-weight: 500;
}

.product-detail-right .power-wheelchair ul li,
.product-detail-right .request-block a,
.product-detail-right .power-wheelchair h4 {
  font-size: 20px;
  line-height: 30px;
}

.product-detail-right .request-block {
  margin: 30px auto;
}

.product-detail-right .request-block a {
  color: #F2A82B;
  border-bottom: 1px solid #F2A82B;
  font-weight: 500;
}

.product-detail-right .request-block .border-right::after {
  content: " ";
  display: inline-block;
  height: 22px;
  width: 2px;
  background: #707070;
  left: 14px;
  position: relative;
  top: 7px;
}

.qty-container {
  height: 51px;
  width: 160px;
  background: #F7F7F7;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  padding: 0 5px;
}

.qty-container input {
  width: 100%;
  color: #888888;
  background-color: #F7F7F7;
}

.product-detail-right .wish-icon-box,
.product-detail-right .share-icon-box {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.product-detail-right .share-icon-box {
  background-color: #F2A82B;
}

.detail-product-tab {
  margin-top: 56px;
  padding: 36px 50px;
  border: 1px solid #ECECEC;
  margin-bottom: 60px;
}

.detail-product-tab nav .nav-link {
  font-size: 24px;
  line-height: 35px;
  font-weight: 500;
  color: #000;
  border: none;
  padding-bottom: 15px;
}

.detail-product-tab nav .nav-link.active {
  color: #F2A82B;
  border-bottom: 2px solid #F2A82B;
}

.detail-product-tab .nav {
  border-bottom: 1px solid #BFBFBF !important;
}

.detail-product-tab .tab-content {
  padding-bottom: 50px;
}

.rating-reviews {
  margin: 70px auto 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #BFBFBF;
}

.rating-reviews-card {
  border: 1px solid #ECECEC;
  padding: 16px 30px 22px 16px;
}

.rating-reviews-card-title,
.detail-product-tab .tab-content ul li,
.detail-product-tab .tab-content p {
  font-size: 20px !important;
  line-height: 30px !important;
}

.rating-reviews-card date {
  color: #888888;
}

.rating-reviews-card date,
.rating-reviews-card .rating-description {
  font-size: 16px;
  line-height: 21px;
  font-family: "Inter", sans-serif !important;
}

.rating-point span {
  font-size: 16px;
  font-weight: 600;
  color: #F2A82B;
  margin-top: 3px;
}

/* Product Detail Page Media Query */

@media screen and (max-width: 1024px) {

  .product-detail-right {
    margin-left: 0px;
  }

}

@media screen and (max-width: 991px) {

  .main-wrapper {
    padding: 16px 0 0px;
  }

  .detail-product-tab {
    margin-top: 45px;
    padding: 20px 20px;
    margin-bottom: 30px;
  }

  .detail-product-tab .tab-content {
    padding-bottom: 0px;
  }

  .rating-reviews {
    margin: 30px auto 30px;
    padding-bottom: 30px;
  }

  .rating-reviews-card {
    padding: 16px;
  }

  .rating-reviews-card date,
  .rating-reviews-card .rating-description {
    font-size: 14px;
  }

}

@media screen and (max-width: 767px) {

  .product-detail-right .request-block a,
  .product-detail-right .power-wheelchair h4 {
    font-size: 18px !important;
    line-height: 22px !important;
  }

  .product-detail-right .power-wheelchair ul li {
    font-size: 16px !important;
  }

  .star-reviews img {
    max-width: 12px;
  }

  .product-detail-right .price-aed span {
    font-size: 18px !important;
  }

  .request-block {
    display: inline-flex !important;
    flex-direction: column;
  }

  .product-detail-right .request-block .border-right::after {
    display: none;
  }

  .detail-product-tab {
    padding: 15px 15px;
  }

  .detail-product-tab nav .nav-link {
    font-size: 14px;
    padding-bottom: 0px;
    padding-top: 0;
  }

  .detail-product-tab .nav {
    border-bottom: none !important;
    gap: 10px;
  }

  .rating-reviews-card-title {
    font-size: 16px !important;
    line-height: 25px !important;
  }

  .detail-product-tab .tab-content ul li,
  .detail-product-tab .tab-content p {
    font-size: 14px !important;
  }

  .rating-reviews-card {
    margin-bottom: 10px;
  }

}

/*--------------------------------------------------------------
  # About Us Contact Us Blogs
  --------------------------------------------------------------*/
/* Multiple Page Banner */

.main-wrapper-bg {
  background: #F7F7F7;
}

.multi-page-banner-wrapper .banner-overlay {
  background-color: rgba(0, 0, 0, 0.5)
}

.multi-page-banner-wrapper h2 {
  font-size: 48px !important;
  font-weight: 600;
}

.right-content-inner {
  max-width: 550px;
}

.image-with-text {
  gap: 120px;
}

.image-with-text.flex-row-reverse {
  gap: 70px;
}


.image-with-text h2,
.blog-page-wrapper h2 {
  font-size: 48px !important;
  line-height: 72px;
}

.image-with-text h3 {
  font-size: 24px !important;
  line-height: 32px !important;
}

.image-with-text p {
  font-size: 16px;
  line-height: 22px;
}

.image-with-text p bold {
  font-weight: 600;
  font-family: "Inter", sans-serif !important;
}

.call-today-box span {
  color: #F2A82B;
}

.about-blog-card {
  border: 1px solid #EDEDED;
  border-radius: 12px;
  overflow: hidden;
}

.about-blog-card .about-blog-card-body {
  padding: 17px 26px 20px 17px;
}

.about-blog-card .about-blog-card-body h6 {
  font-size: 20px !important;
  line-height: 32px !important;
  font-weight: 500;
  font-family: "Inter", sans-serif !important;
}

.about-blog-card .about-blog-card-body p {
  font-size: 16px !important;
  line-height: 22px !important;
}

.contact-us-page-wrapper {
  padding: 60px;
}

.contact-us-page-wrapper h2 {
  font-size: 36px !important;
  line-height: 50px !important;
}

.contact-us-page-wrapper .icon-box {
  height: 55px;
  width: 55px;
  background: #F2A82B;
  border-radius: 50%;
}

.contact-information-block h5 {
  font-size: 24px !important;
  line-height: 35px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact-us-page-wrapper-detail-view-location {
  text-decoration: underline !important;
  text-underline-position: under;
  font-family: "Inter", sans-serif !important;
  text-decoration-color: #000000b8 !important;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.contact-us-page-wrapper-form-block {
  background-color: #F2A82B;
  padding: 40px 35px;
}

.contact-us-page-wrapper-form-block input {
  height: 54px;
  color: #fff !important;
}

.contact-us-page-wrapper-form-block textarea {
  height: 160px;
}

.contact-us-page-wrapper-form-block input,
.contact-us-page-wrapper-form-block textarea {
  border: 1px solid #fff;
  border-radius: 8px;
}

.contact-us-page-wrapper-form-block ::-webkit-input-placeholder,
.contact-us-page-wrapper-form-block ::-webkit-textarea-placeholder {
  color: #fff !important;
}

.contact-us-page-wrapper-form-block input:focus,
.contact-us-page-wrapper-form-block textarea:focus {
  box-shadow: none;
  border-color: #fff;
  color: #fff !important;
}

.contact-us-page-wrapper-form-block button {
  padding: 14px 42px;
  font-size: 18px;
  border: 1px solid #fff !important;
  font-weight: 600;
  line-height: 24px;
  color: #F2A82B;
  transition: all 0.3s ease;
  border-radius: 8px;
  font-family: "Inter", sans-serif !important;
}

.contact-us-page-wrapper-form-block button svg {
  fill: #F2A82B;
  transform: all 0.3s ease;
}

.contact-us-page-wrapper-form-block button:hover {
  background: transparent !important;
  color: #000;
}

.contact-us-page-wrapper-form-block button:hover svg {
  fill: #000 !important;
}
 
.map-wrapper{
  padding-bottom: 30px;
}



@media screen and (max-width: 1024px) {

  .pt-50 {
    padding-top: 35px;
  }

  .pt-80 {
    padding-top: 40px;
  }

  .pt-60 {
    padding-top: 40px;
  }

  .image-with-text,
  .image-with-text.flex-row-reverse {
    gap: 60px;
  }

  .image-with-text h2 {
    font-size: 42px !important;
    line-height: 55px;
  }

}

@media screen and (max-width: 991px) {

  .pb-80 {
    padding-bottom: 40px;
  }

  .image-with-text .left-img {
    max-width: 515px;
  }

  .right-content-inner {
    max-width: 650px;
    margin: auto;
  }

  .right-content-inner .pt-50 {
    padding-top: 10px;
  }

  .image-with-text,
  .image-with-text.flex-row-reverse {
    gap: 30px;
  }

  .about-blog-card .about-blog-card-body {
    padding: 10px 10px 10px 10px;
  }

  .about-blog-card .about-blog-card-body p {
    font-size: 14px !important;
  }

  .contact-us-page-wrapper h2 {
    font-size: 23px !important;
    line-height: 35px !important;
  }

  .contact-us-page-wrapper {
    padding: 30px;
  }


  .contact-information-block h5 {
    font-size: 18px !important;
    line-height: 25px;
    margin-bottom: 5px;
  }

  .contact-information-block p {
    font-size: 14px;
  }

  .contact-information-block .location-box {
    max-width: 75%;
  }

  .contact-us-page-wrapper-form-block {
    padding: 20px 15px;
  }

  .contact-us-page-wrapper .icon-box {
    height: 45px;
    width: 45px;
  }

  .contact-us-page-wrapper-form-block textarea {
    height: 100px;
  }

  .contact-us-page-wrapper-detail-view-location {
    font-size: 22px;
  }

}

@media screen and (max-width: 767px) {

  .pt-80 {
    padding-top: 30px;
  }

  .pb-80 {
    padding-bottom: 30px;
  }

  .multi-page-banner-wrapper h2 {
    font-size: 28px !important;
  }

  .multi-page-banner-wrapper>div {
    height: 160px;
  }

  .multi-page-banner-wrapper>div img {
    height: 100%;
    object-fit: cover;
  }

  .image-with-text,
  .image-with-text.flex-row-reverse {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .image-with-text h2,
  .blog-page-wrapper h2 {
    font-size: 25px !important;
    line-height: 35px;
  }

  .image-with-text p {
    font-size: 14px;
  }

  .image-with-text h3 {
    font-size: 20px !important;
    line-height: 32px !important;
  }

  .about-blog-card {
    margin-bottom: 20px;
  }

  .contact-us-page-wrapper h2 {
    font-size: 20px !important;
    line-height: 30px !important;
    text-align: center;
  }

  .contact-us-page-wrapper-detail {
    margin-bottom: 30px;
  }

  .contact-us-page-wrapper-detail-view-location {
    font-size: 18px;
  }

  .contact-us-page-wrapper-form-block textarea {
    height: 80px;
  }

}

/*--------------------------------------------------------------
  # Cart Page
  --------------------------------------------------------------*/

.mt-33 {
  margin-top: 20px;
}

.input-height-70 {
  height: 47px;
}

.order-summary-sm-h4 {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.more-shopping {
  border-bottom: 1px solid #000000b8 !important;
  font-size: 16px;
  line-height: 25px;
}

.order-summary-form {
  padding: 20px 16px 100px 16px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.order-summary-form .budget-order-summery span {
  font-size: 14px;
  line-height: 21px;
}

.border-all-form-outline {
  font-size: 16px !important;
  line-height: 25px !important;
  border-radius: 4px !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.border-all-form-outline ::-webkit-input-placeholder,
select {
  color: #888888 !important;
}

input.border-all-form-outline:focus,
textarea.border-all-form-outline:focus,
select:focus {
  box-shadow: none;
  border-color: #888888;
  border-radius: 4px;
  color: #888888 !important;
}

.order-summary-form .btn-primary,
.order-summary-form .btn-secondary,
.order-summary-form input,
.my-acount-detail-form input,
.my-acount-detail-form select {
  height: 47px;
}

i.fa.fa-chevron-down {
  color: #888;
}

@media screen and (max-width: 1024px) {

  .mt-144 {
    margin-top: 130px;
  }

  .order-summary-form {
    padding: 20px 16px 60px 16px;
  }

}

@media screen and (max-width: 991px) {

  .mt-144 {
    margin-top: 65px;
  }

  .shopping-cart-page .pt-50,
  .shopping-cart-page .pb-40 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .qty-container {
    height: 45px;
    width: 130px;
  }

  .order-summary-form {
    padding: 20px 16px 30px 16px;
  }

}

@media screen and (max-width: 767px) {

  .mt-144 {
    margin-top: 45px;
  }

  .checkout-contact-information h2 {
    font-size: 20px !important;
    line-height: 25px;
  }

  .more-shopping {
    font-size: 14px;
    line-height: 20px;
  }

}

.shopping-cart-page {
  padding-bottom: 100px;
}

.shopping-cart-page .row {
  --bs-gutter-x: 3.0rem;
}

.checkout-breadcrumbs-item {
  font-size: 14px;
  line-height: 21px;
  color: #888888;
}

.checkout-breadcrumbs-item svg {
  margin-top: -2px;
}

.checkout-breadcrumbs-item.active {
  color: #F2A82B;
}

.checkout-breadcrumbs-item.active svg path {
  fill: #F2A82B;
}

.checkout-contact-information .shipping-method {
  font-size: 20px !important;
}

.checkout-contact-information label {
  font-size: 20px;
  line-height: 30px;
}

.checkout-contact-information .login-now {
  color: #F2A82B;
}

.input-group-prepend {
  display: none;
}

.iti.iti--allow-dropdown.iti--separate-dial-code {
  width: 100%;
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: transparent !important;
}

@media screen and (max-width: 991px) {

  .shopping-cart-page {
    padding-bottom: 60px;
  }

  .input-height-70 {
    height: 50px;
  }

  .shopping-cart-page .row {
    --bs-gutter-x: 1.5rem;
  }

}

@media screen and (max-width: 767px) {

  .mt-33 {
    margin-top: 15px;
  }

  .checkout-contact-information .shipping-method {
    font-size: 18px !important;
    line-height: 30px;
  }

  .checkout-contact-information label {
    font-size: 14px;
  }

}

.shipping-form-group-block {
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0 20px;
}

.shipping-form-group-block label {
  color: #F2A82B;
  max-width: 150px;
  width: 100%;
  position: relative;
}

.shipping-form-group-block label::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  height: 24px;
  width: 1px;
  position: absolute;
  right: 10px;
  top: 4px;
}

.shipping-form-group-block input {
  height: 85px;
}

.shipping-form-group-block input.border-all-form-outline {
  border: none !important;
}

.checkout-contact-information .shipping-method {
  margin-top: 40px;
}

.shipping-method-business-days {
  padding: 0 20px;
}

.shipping-method-business-days input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #F2A82B;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  margin-top: -2px;
}

.shipping-method-business-days input[type="radio"]:checked {
  background-color: #F2A82B;
}

.outline-radio-checkbox {
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  padding: 3px;
  border-radius: 50%;
}

@media screen and (max-width: 991px) {

  .shipping-form-group-block input {
    height: 65px;
  }

  .shipping-method-business-days .form-check-label {
    font-size: 16px;
    line-height: 25px;
  }

}

@media screen and (max-width: 767px) {

  .shipping-form-group-block {
    padding: 0 10px;
  }

  .border-all-form-outline {
    font-size: 14px !important;
  }

  .shipping-form-group-block label {
    max-width: 85px;
  }

  .shipping-form-group-block input {
    height: 45px;
  }

  .checkout-contact-information .shipping-method {
    margin-top: 20px;
  }

  .shipping-method-business-days {
    padding: 0 10px;
    height: 60px;
  }

  .shipping-method-business-days .form-check-label {
    font-size: 14px;
    line-height: 25px;
  }

}

.checkout-contact-information .shipping-payment {
  margin-top: 30px;
}

.payment-card-radio-block {
  margin-bottom: 30px;
}

.payment-card-radio-block input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #CCCCCC;
  outline: none;
  margin-top: -2px;
}

.payment-card-radio-block input[type="radio"]:checked {
  background-color: #F2A82B;
}

.checkout-contact-information .mb-27 {
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {

  .checkout-contact-information .shipping-payment {
    margin-top: 20px;
  }

  .payment-card-radio-block {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {

  .checkout-contact-information .mb-27 {
    margin-bottom: 17px;
  }

  .payment-card-radio-block input[type="radio"] {
    width: 12px;
    height: 12px;
  }

}

.pt-pb-min-max {
  padding: 24px 0 50px;
}

.min-height-590,
.account-all-pages .my-account-information-sidebar {
  min-height: 590px;
}

.account-all-pages .products.list-view .pb-4:last-child,
.account-all-pages .products.grid-view .pb-4:last-child {
  padding-bottom: 0 !important;
}

.left-right-equal-height .row {
  flex-wrap: wrap;
}

.left-right-equal-height .row .equal-col {
  display: flex;
  align-items: stretch;
}

.account-member-block-img {
  max-width: 77px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #F2A82B;
}

.account-member-block a {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #F2A82B;
  margin-left: 55px;
}

.my-account-information-sidebar {
  padding: 20px 12px;
}

.account-information-sidebar-item {
  padding: 12px 9px;
  border-radius: 4px;
  color: #000;
  transition: all 0.3s ease;
  font-size: 16px;
  line-height: 25px;
}

.account-information-sidebar-item.active {
  background-color: #F2A82B;
  color: #fff;
}

.account-information-sidebar-item.active svg path {
  fill: #fff;
}

.my-acount-detail-form {
  padding: 30px 35px;
  gap: 20px;
}

.my-acount-detail-form label {
  font-size: 14px;
  line-height: 21px;
}

.change-password {
  color: #F2A82B;
  transform: all 0.3s ease;
}

.change-password:hover {
  border-color: #000;
  color: #000;
}

@media screen and (max-width: 1024px) {

  .account-information-sidebar-item {
    font-size: 14px;
  }

  .min-height-590,
  .account-all-pages .my-account-information-sidebar {
    min-height: 450px;
  }

}

@media screen and (max-width: 991px) {

  .my-acount-detail-form {
    padding: 20px;
  }

}

@media screen and (max-width: 767px) {

  .my-acount-detail-form {
    padding: 20px 18px;
    gap: 15px;
  }

  .my-acount-detail-form .button {
    width: 100%;
  }

  .min-height-590,
  .account-all-pages .my-account-information-sidebar {
    min-height: auto;
  }

}

.my-order-page nav .button.active {
  background-color: #F2A82B;
  color: #fff;
  border-color: #F2A82B;
}

.my-order-page nav .button {
  background-color: #fff;
  color: #888888;
  border-color: #888888;
}

.product-my-orders-card .product-all-orders-card-body {
  padding: 25px 20px 20px 30px;
}

.product-my-orders-card .product-all-orders-card-body .location-address {
  font-size: 14px;
}

.button.cancelled {
  background-color: #FF0033;
  border-color: #FF0033;
}

.button.cancelled:hover {
  background-color: transparent;
  color: #FF0033;
}

.button.completed {
  border-color: #0CB900;
  background-color: #0CB900;
}

.button.completed:hover {
  color: #0CB900;
  background-color: transparent;
}

.button.request {
  border-color: #888888;
  background-color: #888888;
}

.button.request:hover {
  color: #888888;
  background-color: transparent;
}

.my-order-page .mobile {
  display: none;
}

@media screen and (max-width: 991px) {

  .product-all-orders-card-img-block {
    max-width: 180px;
  }

  .product-my-orders-card .product-all-orders-card-body {
    padding: 15px;
  }

}

@media screen and (max-width: 767px) {

  .my-order-page .desktop {
    display: none;
  }

  .my-order-page .mobile {
    display: block;
  }

  .product-all-orders-card-img-block {
    max-width: 100%;
  }

  .my-order-page nav .button {
    width: 47%;
    text-align: center;
  }

}

.request-found-wrapper {
  padding: 20px;
}

.request-found-wrapper h2 {
  font-size: 24px !important;
  line-height: 35px;
}

.request-found-wrapper p {
  font-size: 16px;
  line-height: 21px;
}

.add-product-image-wrapper a {
  max-width: 100px;
  height: 100px;
}

.my-acount-detail-form h2 {
  font-size: 24px !important;
  line-height: 35px;
}

.maintenance-request-back-button {
  margin-top: -48px;
}

.maintenance-request-back-button a {
  font-size: 16px;
  line-height: 25px;
  color: #F2A82B;
}

.new-request-mobile {
  display: none;
}

.my-product-reviews p {
  font-size: 14px;
  line-height: 21px;
}

@media screen and (max-width: 767px) {

  .my-acount-detail-form h2 {
    font-size: 22px !important;
    line-height: 35px;
  }

  .maintenance-request-back-button {
    max-width: 65px;
    margin-top: -10px;
  }

  .add-product-image-wrapper a {
    max-width: 60px;
    height: 60px;
  }

  .add-product-image-wrapper {
    margin-bottom: 15px;
  }

}

@media screen and (max-width: 991px) {

  .maintenance-card-slider-wrapper .slick-list,
  .maintenance-card-slider-wrapper .slick-track {
    height: 100%;
  }

  .maintenance-card-slider-wrapper .slick-list img {
    object-fit: cover;
  }

}

@media screen and (max-width: 767px) {

  .new-request-mobile {
    display: block;
  }

  .new-request-desktop {
    display: none;
  }

}


.sm-container {
  max-width: 480px;
}

.verify-otp {
  font-size: 14px;
}

.sm-container i {
  color: #888;
}

.sm-container .forgot-password {
  color: #F2A82B;
  font-size: 16px;
  line-height: 25px;
  max-width: 150px;
  margin-left: auto;
}

.sm-container .or {
  color: #888;
  font-size: 16px;
  line-height: 25px;
  max-width: 100px;
}

.sm-container .or::after,
.sm-container .or::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 50px;
  background: #888888;
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

.news-letter {
  background: url(../images/newsletter.png) top center no-repeat;
  background-size: cover;
  padding: 100px 0 50px;
}

.news-letter-img-overflow {
  background-color: rgba(130, 130, 130, 0.3);
  width: 100%;
}

.news-letter-wrapper {
  max-width: 720px;
  padding: 60px 60px 40px;
  background-color: #F2A82B;
  border-radius: 22px;
}

.mail-box {
  height: 100px;
  width: 100px;
  background: #fff;
  border-radius: 50%;
  margin-top: -110px;
}

.news-letter-wrapper h2 {
  font-size: 22px !important;
}

.news-letter-wrapper p {
  max-width: 480px;
  font-size: 14px;
}

.news-letter form {
  height: 55px;
  margin-top: 34px;
}

.news-letter form input {
  border-radius: 22px 0 0 22px;
  padding: 0 36px 0 36px;
  border: 1px solid #fff;
}

.news-letter form input:focus {
  border: 1px solid #fff !important;
}

.news-letter form button {
  padding: 0 50px;
  margin-left: -20px;
  border-radius: 22px;
}

.footer-wrapper {
  background: #1B1919;
  padding: 75px 0 105px;
  color: #fff;
}

.content-wrapper-block {
  grid-auto-columns: 1fr;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1.2fr 0.8fr 0.8fr 1fr 0.8fr;
  gap: 20px;
}

.footer-wrapper .content-wrapper h4 {
  color: #F2A82B;
  font-size: 20px;
}

.footer-wrapper .content-wrapper p {
  font-size: 14px;
  max-width: 218px;
}

.footer-wrapper .content-wrapper p span {
  font-weight: 500;
  font-size: 16px;
}

.footer-link {
  color: #fff;
  transition: all 0.3s ease;
}

.footer-link:hover {
  color: #F2A82B;
}

.footer-logo img {
  max-width: 180px;
}

.footer-social-icon li a {
  height: 40px;
  width: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.footer-social-icon li a:hover {
  background: #F2A82B;
  border-color: #F2A82B;
}

.content-wrapper-block>.content-wrapper::before {
  height: 100%;
  width: 1px;
  background: #fff;
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  right: 20px;
}

.content-wrapper-block>.content-wrapper::before {
  right: 0px;
}

@media screen and (max-width: 1025px) {
  .footer-wrapper {
    padding: 60px 0 60px;
  }
}

@media screen and (max-width: 991px) {

  .content-wrapper-block>.content-wrapper::before {
    display: none;
  }

  .footer-logo {
    margin-top: 35px;
  }

  .content-wrapper-block {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

}

@media screen and (max-width: 767px) {

  .content-wrapper-block {
    grid-template-columns: 1fr;
  }

  .mail-box {
    height: 80px;
    width: 80px;
  }

  .mail-box img {
    width: 40px;
  }


  .news-letter form {
    height: 45px;
  }

  .news-letter-wrapper {
    padding: 60px 20px 20px;
  }

  .news-letter form button {
    padding: 0 14px;
    margin-left: -35px;
    font-size: 14px;
  }

  .news-letter form input {
    padding: 0 36px 0 10px;
    font-size: 12px;
  }

  .news-letter form {
    margin-top: 20px;
  }

  .news-letter {
    padding: 70px 0 30px;
  }

  .footer-wrapper {
    text-align: center;
    padding: 30px 0 30px;
  }

  .footer-wrapper .content-wrapper .d-flex {
    align-items: center;
    justify-content: center;
  }

  .footer-logo img {
    margin: auto;
  }

}