.pt-pb-min-max {
    padding: 24px 0 50px;
}

.min-height-590,
.account-all-pages .my-account-information-sidebar {
    min-height: 590px;
}

.account-main-title {
    font-size: 36px !important;
    line-height: 55px;
    margin-bottom: 0;
}

.account-all-pages .products.list-view .pb-4:last-child,
.account-all-pages .products.grid-view .pb-4:last-child {
    padding-bottom: 0 !important;
}

.left-right-equal-height .row {
    flex-wrap: wrap;
}

.left-right-equal-height .row .equal-col {
    display: flex;
    align-items: stretch;
}

.account-member-block-img {
    max-width: 77px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #F2A82B;
}

.account-member-block a {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: #F2A82B;
    margin-left: 55px;
}

.my-account-information-sidebar {
    padding: 20px 12px;
}

.account-information-sidebar-item {
    padding: 12px 9px;
    border-radius: 4px;
    color: #000;
    transition: all 0.3s ease;
    font-size: 16px;
    line-height: 25px;
}

.account-information-sidebar-item.active {
    background-color: #F2A82B;
    color: #fff;
}

.account-information-sidebar-item.active svg path {
    fill: #fff;
}

.my-acount-detail-form {
    padding: 30px 35px;
    gap: 20px;
}

.my-acount-detail-form label {
    font-size: 14px;
    line-height: 21px;
}

.change-password {
    color: #F2A82B;
    transform: all 0.3s ease;
}

.change-password:hover {
    border-color: #000;
    color: #000;
}


@media screen and (max-width: 1024px) {

    .account-information-sidebar-item {
        font-size: 14px;
    }

    .min-height-590,
    .account-all-pages .my-account-information-sidebar {
        min-height: 450px;
    }

}

@media screen and (max-width: 991px) {

    .my-acount-detail-form {
        padding: 20px;
    }

}


@media screen and (max-width: 767px) {

    .account-main-title {
        font-size: 32px !important;
        line-height: 45px;
    }

    .my-acount-detail-form {
        padding: 20px 18px;
        gap: 15px;
    }

    .my-acount-detail-form .button {
        width: 100%;
    }

    .min-height-590,
    .account-all-pages .my-account-information-sidebar {
        min-height: auto;
    }

}

.my-order-page nav .button.active {
    background-color: #F2A82B;
    color: #fff;
    border-color: #F2A82B;
}

.my-order-page nav .button {
    background-color: #fff;
    color: #888888;
    border-color: #888888;
}

.product-my-orders-card .product-all-orders-card-body {
    padding: 25px 20px 20px 30px;
}

.product-my-orders-card .product-all-orders-card-body .location-address {
    font-size: 14px;
}

.button.cancelled {
    background-color: #FF0033;
    border-color: #FF0033;
}

.button.cancelled:hover {
    background-color: transparent;
    color: #FF0033;
}

.button.completed {
    border-color: #0CB900;
    background-color: #0CB900;
}

.button.completed:hover {
    color: #0CB900;
    background-color: transparent;
}

.my-order-page .mobile {
    display: none;
}

@media screen and (max-width: 991px) {

    .product-all-orders-card-img-block {
        max-width: 180px;
    }

    .product-my-orders-card .product-all-orders-card-body {
        padding: 15px;
    }

}

@media screen and (max-width: 767px) {

    .my-order-page .desktop {
        display: none;
    }
    
    .my-order-page .mobile{
        display: block;
    }

    .product-all-orders-card-img-block {
        max-width: 100%;
    }

    .my-order-page nav .button {
        width: 47%;
        text-align: center;
    }

}

.request-found-wrapper{
    padding: 20px;
}

.request-found-wrapper h2{
    font-size: 24px !important;
    line-height: 35px;
}

.request-found-wrapper p{
    font-size: 16px;
    line-height: 21px;
}


